* {
    font-size: 1rem;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --bunWidth: 1.5rem;
    --touchButton: .4s;
    --bunColor: rgb(114, 112, 112);
}
/* Header */
nav {
    box-shadow: none;
    margin: 0;
}

.logo {
    width: 80%;
}

.navPC{
    display: none !important;
    flex-direction: column;
}

nav .flex > li{
    font-size: 1.1rem;
}

/* nav for mobile */
.navMobile {
    display: flex;
    padding: 0 2.5%;
    margin: 0;
    position: relative;
}

/* https://codepen.io/ainalem/pen/OJWQbor?editors=1000 */
.burger-icon {
    display: block;
    width: var(--bunWidth);
    height: var(--bunWidth);
    
}

.burger {
    z-index: 1001;
}

.topBun, .patty, .bottomBun {
    height: 3px;
    width: var(--bunWidth);
    background-color: var(--bunColor);
    margin: calc(var(--bunWidth) / 4) 0;
    transition: var(--touchButton);
    border-radius: 1rem;
}

.rollTopBun {
    margin-top: 0;
    transform: rotate(-45deg);
}

.rollPatty {
    transform: translateY(-8.5px) rotate(45deg);
}

.rollBottomBun {
    transform: translateY(300%) rotate(270deg);
    opacity: 0;
    background: pink;
}
.expandBun {
    display: block;
    /* clip-path: polygon(2.5% 14.1%, 10.1% 14.1%, 10.1% 14.6%, 2.5% 14.6%); */
    clip-path: polygon(45% 45%, 55% 45%, 55% 46%, 45% 46%);
    z-index: 500; 
    position: fixed;
    top: 0;
    left: 0 !important;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

.smallGlass {
    display: block !important;
    width: fit-content;
}

.subNavMobile {
    display: flex;
    top: 10%;
    right: 25%;
    left: 25%;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    width: 50%;
    padding: 0;
    z-index: 1100;
    text-align: center;
}

.subNavMobile li a {
    font-size: 1.5rem;
    padding: 1rem;
    display: block;
}

.arrowRotate {
    transform: scaleY(-1);
}

.product{
    display: none;
    text-align: center;
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0;
}

.product a {
    color: orangered;
    font-size: 1.3rem !important;
}

.slideUpProduct {
    animation: slideUpProduct 0.25s ease-in backwards;
}

.slideDownProduct {
    animation: slideUpProduct 0.25s ease-in forwards reverse;
}

@keyframes slideUpProduct {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
.arrowRotate {
    transform: scaleY(-1);
}

/* breakNews */
.breakNews {
    display: block;
}

.breakNews article {
    width: 100%;
}

.slideShow {
    width: 100%;
}

.slideShow h3 {
    font-size: 1rem;
}

.buttons {
    bottom: -10%;
}

.breakNews article h2 {
    margin: 2rem auto 0;
    font-size: 1.5rem !important;
}
.news .contents{
    height: 18rem;
}

/* Library */
.library h2 {
    margin: 0 auto;
}

.Pics {
    display: block;
}

.library .Pics div {
    width: 100% !important;
    margin: 0.5rem auto !important;
}


.frame h3 {
    font-size: 1rem;
}

.openHour h2 {
    margin: 1rem auto !important;
}

.reveal.activate.openHour h2::before {
    animation: slideLeft 2s ease-in-out forwards;
}

.reveal.activate.openHour h2::after {
    animation: slideRight 2s ease-in-out forwards, disappear 0s 2s forwards;
}
@keyframes slideRight {
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}   

@keyframes disappear {
    100% {
        left: 0;
    }
}

@keyframes slideLeft {
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/* stat */
.stat {
    height: auto !important;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("images/increasedGraph.png") !important;
}
.numbers {
    display: block;
}

.numbers > div {
    width: auto;
    margin: 1rem auto;
}

.number, h2 {
    font-size: 10vw !important; 
    margin: 0;
}

/* reservePlace */
.reservePlace {
    height: 100vw;
}

.reservePlace .imgContainer{
    height: 100%;
}

.reservePlace p, .reservePlace span {
    font-size: 5vw !important;
}

.btnFrame {
    right: 30%;
    left: 30%;
}

/* Footer */
.info li {
    font-size: 5vw;
}

.infos input {
    width: 95%;
}

/* CSS for JS */
.clickBurger {
    position: fixed;
}
.clickBurger.burger {
    transform: translateY(-150%);

}
.clickExpandBun {
    clip-path: polygon(101% -1%, 101% 101%, -1% 101%, -1% -1%);
    background-color: pink;
}

.displayProduct {
    display: block !important;
}
