* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 18px;
    transition: var(--toggle);
}

:root {
    --searchBoxWidth: 90%;
    --announcementBox: 70%;
    --toggle: .4s;
}

.hide {
    opacity: 0;
    transform: scale(0);
    transition: var(--toggle);
}

.show {
    opacity: 1;
    transform: scale(1);
    transition: var(--toggle);
}

a {
    color: crimson;
}

body {
    margin: 0;
}

/* header */

.logo {
    margin: 0.3rem auto ;
    width: fit-content;
    width: 25%;
    min-height: 10vh;
}

.logo img {
    width: 100%;
}

.flex {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.between {
    justify-content: space-between !important;
}

nav {
    box-shadow: 3px 3px 3px 3px rgb(151, 147, 147);
    max-height: 10vh;
    margin: 2rem 0.5rem;
}

nav li a {
    padding: 0.7rem;
}

.menu {
    margin: 0.5rem auto;
    padding: 1rem;
    background: #f9f6f0;
}
.products {
    position: relative;
}

nav .flex > li{
    margin: 0 0.7rem;
    width: fit-content;
}

nav .flex > li a {
    width: fit-content;
    padding: 0.4rem 0;
    display: block;
    transition: transform ease-in-out 0.25s;
    text-align: center;
}
.product {
    display: none !important;
    position: absolute;
    z-index: 1;
    width: 9rem;
    padding: 0px;
}

input[type=text] {
    position: fixed;
    right: calc((100% - var(--searchBoxWidth)) / 2);
    left: calc((100% - var(--searchBoxWidth)) / 2);
    width: var(--searchBoxWidth);
    height: 2rem;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(151, 147, 147);
    z-index: 1000;
}

.fa-magnifying-glass:hover {
    color: lightskyblue !important;
    cursor: pointer;
    transition: var(--toggle);
}

@media screen and (min-width: 501px) {
    .products:hover .product{
        display: block !important;
        animation: Move 0.4s linear;
    }
}

.burger-icon, .navMobile {
    display: none;
}

/* section */
section, article{
    padding: 0.7rem;
    align-items: flex-start !important;
}

.announce {
    width: var(--announcementBox);
}
/* https://codepen.io/team/keyframers/pen/RwKoMmb */
article h2 {
    text-align: center;
    color: rgb(104, 103, 103);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Prata", serif;
    font-style: italic;
    animation: textClip 1.5s, moveToLeft 1.5s 1s;
}

@keyframes textClip {
    from {
        transform: translateX(50%);
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        transform: translateX(50%);
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

@keyframes moveToLeft {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes pictureClip {
    from {
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}

section {
    padding: 0;
    margin: 1rem;
    box-shadow: 3px 3px 3px 3px rgb(151, 147, 147);
}

/* Slideshow gallery */
.slideShow {
    width: 515px;
    margin: 1rem auto;
    /* backwards: lấy css của from làm trạng thái trước animation 
    forwards: lấy css của to làm trạng thái sau animaiton*/
    position: relative;
}

.slideShow > div:first-child {
    margin: auto;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    
}

.slideShow > div:first-child > div {
    position: relative;
}

.slideShow > div:first-child > div:first-child {
    animation: pictureClip 2s cubic-bezier(0,-0.01,.26,.97) 2.5s backwards;
}
.slideShow img {
    width: 515px; /*huge problem: change px to %*/
    transform: scale(0.95);
}

.slideShow img:hover {
    transform: scale(1);
    box-shadow: 2px 2px 4px rgb(151, 147, 147);
}

.slideShow h3 {
    color: coral;
    background: lightskyblue;
    font-weight: bold;
    position: absolute;
    bottom: 0%;
    text-align: center;
    width: 100%;
    backdrop-filter: opacity(50%);
    z-index: 2;
    border-radius: 0.3rem;
}
.buttons {
    width: 60%;
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: -5%;
    justify-content: space-around;
}

.button {
    background: rgb(255, 221, 226);
    width: 1rem;
    padding: 0.5rem;
    border: 1px solid lightblue;
    border-radius: 50%;
}

.button:hover {
    background: violet;
    cursor: pointer;
}
/* News */
.news {
    width: calc(100% - var(--announcementBox));
    margin-top: 0;
    background: lightblue;
}

.content {
    position: relative;
    justify-content: center;
    border: 1px solid gray;
    margin: 0.3rem 0;
    z-index: 1;
    padding: 0.5rem;
}

.content:hover {
    transform: scale(1.03);
    border: 1px solid black;
}

.content::before, .content::after {
    background: lightblue;
    content: "";
    position: absolute;
    z-index: -1;
    transition: 1s  ;
}

.content::before {
    width: 85%;
    height: 102%;
}

.content::after {
    width: 102%;
    height: 75%;
}

.content:hover::before {
    width: 0%;
}
.content:hover::after {
    height: 0%;
}

article .content h3 a{
    position: relative;
    font-size: 1.3rem;
    font-style: italic;
    margin: 0.5rem 0;
}

article .content h3 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 0.1rem;
    width: 10%;
    background: orange;
}
