* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-size: 18px;
    transition: var(--toggle);
}

body {
    overflow-x: hidden;
}

a:hover {
    cursor: pointer;
}

:root {
    --searchBoxWidth: 90%;
    --announcementBox: 70%;
    --toggle: .4s;
    --bounceUp: .25s;
    --fallDown: .2s;
    --fluctuate: 1.25s;
    --fallWords: 0.2s;
    --smallBounceStarts: calc(var(--bounceUp) + var(--fallDown) + var(--fluctuate)* 75 / 100 + var(--fallWords)) ;
}

.hide {
    opacity: 0;
    transform: scale(0);
    transition: var(--toggle);
}

.show {
    opacity: 1;
    transform: scale(1);
    transition: var(--toggle);
}

a {
    color: crimson;
}

body {
    margin: 0;
}

/* header */

.logo {
    margin: 0.3rem auto ;
    width: fit-content;
    width: 25%;
    min-height: 10vh;
}

.logo img {
    width: 100%;
}

.flex {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.align_start{
    align-items: flex-start !important;
}

.between {
    justify-content: space-between !important;
}

nav {
    box-shadow: 3px 3px 3px 3px rgb(151, 147, 147);
    max-height: 10vh;
    margin: 2rem 0.5rem;
}

nav li a {
    padding: 0.7rem;
}

.menu {
    margin: 0.5rem auto;
    padding: 1rem;
    background: #f9f6f0;
}
.products {
    position: relative;
}

nav .flex > li{
    margin: 0 0.7rem;
    width: fit-content;
}

nav .flex > li a {
    width: fit-content;
    padding: 0.4rem 0;
    display: block;
    transition: transform ease-in-out 0.25s;
    text-align: center;
}
.product {
    display: none !important;
    position: absolute;
    z-index: 1;
    width: 9rem;
    padding: 0px;
}

input[type=text] {
    position: fixed;
    right: calc((100% - var(--searchBoxWidth)) / 2);
    left: calc((100% - var(--searchBoxWidth)) / 2);
    width: var(--searchBoxWidth);
    height: 2rem;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(151, 147, 147);
    z-index: 1000;
}

.fa-magnifying-glass:hover {
    color: lightskyblue !important;
    cursor: pointer;
    transition: var(--toggle);
}

@media screen and (min-width: 501px) {
    .products:hover .product{
        display: block !important;
        animation: Move 0.4s linear;
    }
}

.burger-icon, .navMobile {
    display: none;
}

/* section */
section {
    padding: 1rem;
    margin: 1rem;
    box-shadow: 3px 3px 3px 3px rgb(151, 147, 147);
}

.announce {
    width: var(--announcementBox);
} 

h2 {
    text-align: center;
    color: rgb(104, 103, 103);
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Prata", serif;
    font-style: italic;
    transform: translateX(-15rem);
    animation: textClip 1.5s, moveToRight 1.5s 1s forwards;
}

@keyframes textClip {
    from {
        
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    to {
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    }
}

@keyframes moveToRight {
    to {
        transform: translateX(0);
    }
}

@keyframes pictureClip {
    from {
        clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    }
    to {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}

/* Slideshow gallery */
.slideShow {
    width: 515px; /* chưa chỉnh theo tỉ lệ được*/
    margin: 1rem auto;
    /* backwards: lấy css của from làm trạng thái trước animation 
    forwards: lấy css của to làm trạng thái sau animaiton*/
    position: relative;
}

.slideShow > div:first-child {
    margin: auto;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    
}

.slideShow > div:first-child > div {
    position: relative;
}

.slideShow > div:first-child > div:first-child {
    animation: pictureClip 2s cubic-bezier(0,-0.01,.26,.97) 2.5s backwards;
}
.slideShow img {
    width: 515px; /*huge problem: change px to %*/
    transform: scale(0.95);
}

.slideShow img:hover {
    transform: scale(1);
    box-shadow: 2px 2px 4px rgb(151, 147, 147);
}

.slideShow img:hover + h3, .slideShow h3:hover {
    opacity: 1;
}

.slideShow h3 {
    font-size: 1.5rem;
    color: coral;
    background: lightskyblue;
    opacity: 0.5;
    font-weight: bold;
    position: absolute;
    bottom: -5%;
    text-align: center;
    width: 100%;
    backdrop-filter: opacity(50%);
    z-index: 2;
    border-radius: 0.3rem;
}

.buttons {
    width: 60%;
    position: absolute;
    right: 20%;
    left: 20%;
    bottom: -5%;
    justify-content: space-around;
}

.button {
    background: rgb(255, 0, 38);
    width: 1rem;
    padding: 0.5rem;
    border: 1px solid lightblue;
    border-radius: 50%;
}

.button:hover {
    background: cornflowerblue;
    cursor: pointer;
}
/* News */
.news {
    width: calc(100% - var(--announcementBox));
    margin-top: 0;
}
.contents {
    overflow: scroll;
    height: 36rem;
}

.content {
    background: lightblue;
    position: relative;
    justify-content: center;
    border: 1px solid gray;
    margin: 1.5rem 0;
    z-index: 1;
    padding: 0.5rem;
    transform: scale(0.97);
}

.content:hover {
    transform: scale(1);
    border: 1px solid black;
}

.content::before, .content::after {
    background: lightblue;
    content: "";
    position: absolute;
    z-index: -1;
    transition: 1s;
}

.content::before {
    width: 85%;
    height: 100.8%;
}

.content::after {
    width: 100.8%;
    height: 75%;
}

.content:hover::before {
    width: 0%;
}
.content:hover::after {
    height: 0%;
}

article .content h3 a{
    position: relative;
    font-size: 1.3rem;
    font-style: italic;
    margin: 0.5rem 0;
}

article .content h3 a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;
    height: 0.1rem;
    width: 10%;
    background: orange;
    transition: var(--toggle);
}

article .content:hover h3 a::after {
    width: 45%;
}

/* Library pictures */

.library .Pics {
    margin-top: 5%;
    align-items: flex-start;
}

.library .Pics div {
    padding: 0 0.1rem;
    width: 33%;
    position: relative; 
}

.library .Pics .frame  {
    width: 100%;
    padding: 0.7rem 0.7rem 0.2rem 0.7rem;
    background-image: linear-gradient(to bottom right, lightblue, lightgreen, lightskyblue);
    box-shadow: 0 0 2px 2px rgba(0,0,0,.15); 
    z-index: -1;
    transform-origin: center -2rem;
    border-radius: 1%;
}

.library .Pics .frame div {
    width: 100%;
    
}
.library .Pics div:nth-child(2) {
    margin-top: 10%;
    animation-delay: 0.5s;
    /* margin: 0 auto; */   
    /* transform: translateY(-50%); */
}

.library .Pics div:nth-child(3) {
    margin-top: 20%;
    animation-delay: 1s;
    /* margin-right: 0;
    margin-left: auto; */
    /* transform: translateY(-100%); */
}

.library .Pics > div::before {
    content: "";
    background-image: url(images/Push\ pin.png);
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    width: 10%;
    height: 15%;
    position: absolute;
    top: 0%;
    left: 45%; 
    z-index: 1;
}

.frame > div::after {
    content: "";
    box-shadow: inset 1px 0 3px 4px rgba(0,0,0,.4);
    z-index: 10;
    position: absolute;
    top: -1%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.library img {
    width: 100%;
    z-index: 1;
}

.library .Pics div:first-child:hover .frame{
    transform: rotate(5deg) translateX(5px);
    /* vừa xoay, vừa dịch chuyển => giống như xoay tại vị trí cây kim*/
}

.library .Pics div:last-child:hover .frame{
    transform: rotate(-5deg) translateX(-5px);
}  

.library .Pics div:nth-child(2):hover .frame{
    transform-origin: top;
    transform: rotateX(-30deg);
}

.library h3 {
    text-align: center;
    margin: 0 auto;
    z-index: -1;
    position: relative;
    
}


/* @keyframes notTooAdvancedWaving {
    0%, 100% {
        transform: rotate(5deg);
    }
    37.5% {
        transform: rotate(-10deg);
    }
    87.5% {
        transform: rotate(10deg);
    } 
}still error*/
/* @keyframes wave {
    0%, 100% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
}  */

@keyframes bounceUp {
    0% {
        transform: translateY(45px);
    }
    100% {
        transform: translateY(-20px);
    }
}

@keyframes fallDown {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: rotate(8deg) translateY(0px);
    }
}

@keyframes fluctuate {
    0% {
        transform: rotate(8deg);
    }
    25% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(4deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
} 

@keyframes fallWords {
    0% {
        opacity: 0;
        transform: translate(2rem, -2rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes smallBounce {
    50% {
        transform: translateY(-0.5rem);
    }
    0%, 100% {
        transform: translateY(0);
    }
}

@keyframes pin {
    0% {
        opacity: 0;
        transform: skewY(20deg) scale(1.05) translate(2rem, -2rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

.openHour h2{
    position: relative;
    margin: 2rem auto;
    width: fit-content;
    animation: none;
    transform: none;
}

.openHour h2::before {
    content: "";
    background-image: url(images/left\ gate.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: -50%;
    width: 50%;
    height: 200%;
    z-index: 2;
    transform-origin: left;
}

.openHour h2::after {
    content: "";
    background-image: url(images/right\ gate.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -50%;
    width: 50%;
    height: 200%;
    z-index: 2;
    transform-origin: right;
}

@keyframes openRight {
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes openLeft {
    100% {
        transform: rotateY(-180deg);
    }
}

/* Stat */
section.stat {
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: none;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i0.wp.com/lucloi.vn/wp-content/uploads/2020/01/maxresdefault-58.jpg?fit=1280%2C720&ssl=1");
}

.stat h2 {
    /* color: lawngreen; */
    margin: auto;
    font-size: 2.5rem;
    width: fit-content;
    background-image: linear-gradient(to top right, rgb(204, 109, 204), rgb(207, 102, 58), rgb(71, 246, 71), rgb(103, 210, 246));
    color: transparent; 
    -webkit-background-clip: text;
}

.numbers {
    margin: auto 0;
}

.numbers > div {
    width: 33%;
    text-align: center;
}

.stat .number, .stat span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    color: yellow;
}

.stat h3 {
    color: white;
    font-size: 1.2rem;  
    font-weight: 100;
    font-style: italic;
    margin: 0 auto;
}
/* CSS for JS */
.reveal {
    animation: none;
    opacity: 0;
}

.reveal.activate {
    opacity: 1;
}

h2.reveal.activate  {
    animation: textClip 1.5s, moveToRight 1.5s 1s forwards;
}

.reveal.activate .frame {
    animation: bounceUp var(--bounceUp), 
    fallDown var(--fallDown) ease-out calc(var(--bounceUp)), 
    fluctuate var(--fluctuate) ease-in-out calc(var(--bounceUp) + var(--fallDown));
}

.reveal.activate::before {
    animation: pin var(--fallDown) ease-in calc(var(--smallBounceStarts) - var(--fallWords) ) backwards; 
    /*thực hiện animation pin trong thời gian fallDown, tại thời điểm sau khi hết fluctuate*/
}

.reveal.activate h3 {
    animation: fallWords 0.2s ease-in-out calc(var(--bounceUp) + var(--fallDown) + var(--fluctuate)* 75 / 100) backwards,
    smallBounce 0.256s cubic-bezier(.18,.52,.79,.47) var(--smallBounceStarts);
}

.reveal.activate h2::before {
    animation: openLeft 2s ease-in-out forwards;
}

.reveal.activate h2::after {
    animation: openRight 2s ease-in-out forwards;
}